#!/bin/bash
set -eu
cd /home/livegrep
. credentials

export GIT_HTTP_LOW_SPEED_LIMIT=1024
export GIT_HTTP_LOW_SPEED_TIME=60

./deploy/bin/livegrep-github-reindex \
  -name='Linux v4.5' \
  -repo=torvalds/linux \
  -revparse=false \
  -revision=v4.5 \
  -dir "$(pwd)/data/" \
  -out "$(pwd)/data/linux.idx"

./download-starred > REPOS

./deploy/bin/livegrep-github-reindex \
  -depth=1 \
  -name='Github Top 10k' \
  -revparse=false \
  -dir "$(pwd)/data/" \
  -out "$(pwd)/data/github.idx" \
  $(while read repo; do echo -repo=$repo; done < REPOS)

az=$(curl -s 169.254.169.254/latest/meta-data/placement/availability-zone)
region=${az%[a-z]}

for idx in linux github; do
    gof3r cp --endpoint "s3-$region.amazonaws.com" "data/$idx.idx" "s3://livegrep/indexes/$idx.idx"
done
