{
    "backends":
    [
    {% for idx in livegrep_indexes %}
        {
            "id": "{{idx.id}}",
            "addr": "{{idx.id}}.backend.int.livegrep.com:9999"
        }{% if not loop.last %},{% endif %}
    {% endfor %}
    ],
    "google_analytics_id": "UA-10353960-3",
    "feedback": {
      "mailto": "nelhage@nelhage.com"
    },
    "reverse_proxy": true,
    "listen": "0.0.0.0:8910",
    "honeycomb": {
      "write_key": "{{honeycomb_write_key.stdout}}",
      "dataset": "livegrep"
    }
}
