[Unit]
Description=Download and install livegrep

[Service]
ExecStart=/home/livegrep/livegrep-boot
User=livegrep

[Install]
WantedBy=multi-user.target
